 .file-btn{
   cursor: pointer;
   font-size: 17px;
   transform: translateX(-61px);
 }

 .icons i{
   background: #676767 none repeat scroll 0 0;
   border: medium none;
   border-radius: 50%;
   color: #fff;
   cursor: pointer;
   height: 40%;
   width: 30px;
   padding-top: 6px;
   margin: 1px;
   align-items: center;
 }

 .chip {
   display: inline-block;
   padding: 0 25px;
   height: 50px;
   font-size: 18px;
   line-height: 50px;
   border-radius: 25px;
   background-color: #f1f1f1;
   margin-right: 4px;
 }
 .closebtn {
   padding-left: 10px;
   font-weight: bold;
   font-size: 20px;
   cursor: pointer;
 }
 